{% extends "base.html" %}
{% load static %}
{% block title %}Melhores anime de Romance{% endblock %}

{% block content %}
  <div class="container">
    <h1>Melhores animes de romance</h1>
  </div>
  <div class="container">
      <div class="row ">
        <div class="col-sm-6">
          <!-- Conteúdo da coluna aqui -->
          {% for anime in listanime %}
          <h2> {{anime.titulo}}</h2>
          <img
            src="{{anime.img.url}}"
            alt=""
          />
          <p>
            <span style="color: blue;"> Genero: </span>{{anime.genero}}<br>  <br>
          <span style="color: blue;"> Sinopse: </span> <br> <br>
            &{{anime.snipose}}
            <br><br>
             
          </p>
      </div>
       
     
     <div>
        {% endfor %}
      

        
      
      
  
    {% endblock %}
    