{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script> 
<title>{% block title%} {%endblock%}</title>
  </head>
  <body class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url "home" %}">Ganime</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "home" %}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "acao" %}" id="acao">Ação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "romance" %}" id="romance">Romance</a>
                    </li>
                </ul>
                <form class="ml-auto" action="{% url "pesquisar" %}" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyword" placeholder="Pesquisar animes" required>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Pesquisar</button>
                        </div>
                    </div>
                </form>
                <div class="dropdown ml-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div style="display: flex; align-items: center;">
                            {% if request.user.usuario %}
                                <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="Avatar" class="avatar-img rounded-circle" style="width: 40px; height: 40px;">
                                <span style="font-size: 14px; margin-left: 8px;">{{ request.user.username }}</span>
                            {% else %}
                                <i class="fas fa-user"></i> <!-- Ícone padrão caso não haja imagem de perfil -->
                            {% endif %}
                        </div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if request.user.usuario %}
                            <a class="dropdown-item" href="{% url 'sair' %}">Sair</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'cadastrar' %}">Cadastrar-se</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var navbarToggler = document.querySelector(".navbar-toggler");
            var navbarNav = document.querySelector("#navbarNav");

            navbarToggler.addEventListener("click", function() {
                navbarNav.classList.toggle("show");
            });
        });
    </script>
 
    
      {% block content %}
    
      {% endblock %}
    
     
    <footer class="footer bg-dark text-white">
      <div class="container">
          <div class="row">
              <div class="col-md-1 text-center mb-3">
                  <a href="https://www.instagram.com/gerson_fagundes99/" target="_blank" class="text-white text-decoration-none">
                      <img src="https://imagensemoldes.com.br/wp-content/uploads/2020/07/Figura-Instagram-PNG.png" alt="Instagram" class="img-fluid " style="max-width: 30px;">
                      <p class="mt-2">Instagram</p>
                  </a>
              </div>

              <div class="col-md-1 text-center mb-2">
                  <a href="https://github.com/gersonbreno" target="_blank" class="text-white text-decoration-none">
                      <img src="https://i.ytimg.com/vi/WYNWFhTdPQc/maxresdefault.jpg" alt="GitHub" class="img-fluid" style="max-width: 30px;">
                      <p class="mt-2">GitHub</p>
                  </a>
              </div>

              <div class="col-md-1 text-center mb-2">
                  <a href="https://www.facebook.com/profile.php?id=100013071375573" target="_blank" class="text-white text-decoration-none">
                      <img src="https://files.tecnoblog.net/wp-content/uploads/2022/02/facebook-logotipo.png" alt="Facebook" class="img-fluid text-decoration-none" style="max-width: 30px;">
                      <p class="mt-2">Facebook</p>
                  </a>
              </div>
          </div>
      </div>
  </footer>
  <div class="container mt-5">
    <title>Comentários</title>
</head>
<body>

    <div class="container mt-5">
        <h1 class="mb-4">Comentários</h1>
    
        {% for comentario in comentarios %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Nome: {{comentario.nome}}</h5>
                    <p class="card-text">Usuário: {{ comentario.usuario.username }} - Data de Publicação: {{ comentario.data_publicao }}</p>
                    <p class="card-text">{{ comentario.conteudo}}</p>
                </div>
            </div>
        {% endfor %}
    
        <h2 class="mb-4">Adicionar Comentário</h2>
    
        <form method="post" action="{% url 'comentar' %}" class="mb-5">
            {% csrf_token %}
    
            <div class="mb-3">
                {{ form.nome.label_tag }}
                {{ form.nome }}
            </div>
    
            <div class="mb-3">
                {{ form.conteudo.label_tag }}
                {{ form.conteudo }}
            </div>
    
            <button type="submit" class="btn btn-primary">Comentar</button>
        </form>
    </div>

<style>
    .user-avatar {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background-color: #007bff; /* Cor de fundo da bola redonda */
        color: #fff; /* Cor do texto da bola redonda */
    }
</style>

</html>
