{% extends "base.html" %}
{% load static %}
{% block title %}Melhores anime de Romance{% endblock %}

{% block content %}
<div class="container">
  <div class="row ">
    <div class="col-sm-6">
      <!-- Conteúdo da coluna aqui -->
      {% for anime in listanime %}
      <h2> {{anime.titulo}}</h2>
      <img
        src="{{anime.img.url}}"
        alt=""  style="max-width: 40rem;"
      />
      <p>
        <span style="color: blue;"> Genero: </span>{{anime.genero}}<br>  <br>
      <span style="color: blue;"> Sinopse: </span> <br> <br>
        &{{anime.snipose}}
        <br><br>
          
      </p>
  </div>
  



     
 
 <div>
    {% endfor %}
     
      
       
   
    {% endblock %}
    div class="container mt-5">
    <h2>Comentários Recentes</h2>

    {% for comentario in comentarios %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Nome: {{ comentario.nome }}</h5>
                <p class="card-text">Usuário: {{ comentario.usuario.username }} - Data de Publicação: {{ comentario.data_publicao }}</p>
                <p class="card-text">{{ comentario.conteudo }}</p>
            </div>
        </div>
    {% endfor %}
</div>