<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email de Redefinição de Senha</title>
</head>
<body>
    <p>Olá {{ user.username }},</p>
    <p>Você está recebendo este e-mail porque solicitou a redefinição da sua senha no nosso site.</p>
    <p>Por favor, clique no link abaixo para redefinir sua senha:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Redefinir Senha</a></p>
    <p>Se você não solicitou a redefinição da senha, ignore este e-mail.</p>
    <p>Obrigado!</p>
</body>
</html>