<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h2>Esqueceu sua senha?</h2>
    <p>Por favor, insira seu endereço de e-mail abaixo. Nós enviaremos um link para redefinir sua senha.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar e-mail de redefinição de senha</button>
    </form>
</body>
</html>